$background-color: #fff;
$loader-color: #2C3E50;
$loader-size: 30vh;

body {
  margin-top: 100px;
}

.loader {
  color: #fff;
  text-align: center;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: $loader-size;
  color: $loader-color;
  opacity: 0.8;

  span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;

    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}

.loader-inline {
  display: none;
  color: #fff;
  text-align: center;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  color: $loader-color;
  opacity: 0.8;

  span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;

    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.nano { height: 600px; }
.nano .nano-pane { background: #fff; }
.nano .nano-slider { background: #fff; }
.nano>.nano-pane>.nano-slider { background: #2C3E50; }
.nano .nano-content { padding-right: 15px; }

.irs-single {
  background: #2C3E50;
}

.irs-bar {
  border-top: 1px solid #2C3E50;
  border-bottom: 1px solid #2C3E50;
  background: #2C3E50;
  background: linear-gradient(to top,rgba(27, 49, 71,1) 0,rgba(66, 88, 110,1) 100%);
}

.irs-bar-edge {
  border: 1px solid #2C3E50;
  background: #2C3E50;
  background: linear-gradient(to top,rgba(27, 49, 71,1) 0,rgba(66, 88, 110,1) 100%);
}

.job-details-label {
  position: absolute;
  z-index: 1020;
  display: none;
}

.btn, 
.btn-lg {
  cursor: pointer;
}

.card .close {
  color: #333;
  position: absolute;
  right: 10px;
  top: 5px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .job-details-label {
    width: 100%;
    padding: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .job-details-label {
    width: 100%;
    padding: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .job-details-label {
    width: 50%;
    padding: 5px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .job-details-label {
    width: 50%;
    padding: 5px;
  }
}

@media print {
  .img-responsive {
    max-width: 150px;
  }
}